.left-nav-container {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 10px;
  }
  
  .left-nav-header {
    margin: 0;
  }
  
  .left-nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .left-nav-item {
    cursor: pointer;
  }
  
  .left-nav-item.selected {
    font-weight: bold;
  }
  